a {
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


header {
    background-color: cyan;
    padding: 1.5rem 20rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list a {
    text-decoration: none;
    color: black;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

#check {
    display: none;
}

main {
    padding: 20px;
}

footer {
    display: flex;
    background-color: darkblue;
    color: white;
    padding: 2rem 20rem;
    text-align: center;
    justify-content: space-evenly;
}

.social-media {
    width: 7rem;
}

.social-media a {
    color: white;
    font-size: 0.9rem; 
    text-decoration: none;
    transition: all 0.3s ease; 
}

.social-media a:hover {
    font-size: 1.1rem; 
    color: #00b3b3; 
}

.social-media-item {
    display: flex;
    align-items: center;
}

.social-media-text {
    margin-left: 0.5rem;
}

@media screen and (max-width: 768px) {
    .nav-list {
        position: fixed;
        top: 60px;
        left: -100%;
        background-color: cyan;
        width: 100%;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
    }

    #check:checked ~ .nav-list {
        left: 0;
    }
}
