.biodata-title {
    text-align: center;
    font-size: 1.5rem; /* Ukuran font yang lebih besar */
    font-family: "SUSE", system-ui;
}

.biodata-info {
    text-align: center;
    font-size: 1.2rem; /* Ukuran font yang lebih besar */
    font-family: "Edu VIC WA NT Beginner", system-ui;
}

.image-wrapper {
    display: flex;
    justify-content: center;
}

.profile-image {
    width: 20rem;
    transition: 0.3s;
    cursor: pointer;
}

.profile-image-container {
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    margin: 4rem auto 1rem;
    width: 20rem;
    height: 26.7rem;
    border-radius: 20px;
}
.profile-image:hover {
    transform: scale(1.1);
    transition: 0.3s;
}